@page "/maintable"
@inject HttpClient Http
@inject NavigationManager Nav
@inject IJSRuntime JSRuntime;
@using template.Shared.Models.Games
@using template.Shared.Models.Users
@using template.Client.Components

<div class="container-fluid">
    <!-- Page Header -->
    <div class="row">
        <div class="col col-sm-8">
            <div>
                <!-- Button - Create New Game -->
                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="height: 86px;">
                    <span style="vertical-align: middle;">יצירת משחק חדש</span>
                    <span style="vertical-align: middle;">
                        <i class="fa-solid fa-square-plus" style="font-size: 36px;  vertical-align: middle;"></i>
                    </span>
                </button>

                <!-- Modal -->
                <div class="modal fade @(isModalOpen ? "show" : "")" style="display: @(isModalOpen ? "block" : "none");" id="staticBackdrop" 
                 data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">משחק חדש</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <!-- Form for new game creation -->
                                <EditForm Model="gameToAdd" OnValidSubmit="CreateGame" OnInvalidSubmit="failedSubmit">
                                    <DataAnnotationsValidator />

                                    <!-- Game Name -->
                                    <div class="mb-3">
                                        <label for="gameName" class="form-label">שם המשחק</label>
                                        <span>(2-30 תווים)</span>
                                        <InputText maxlength="30"
                                                   @oninput="@(e => { HandleInputChange(e, nameof(gameToAdd.GameName)); gameToAdd.GameName = e.Value.ToString(); StateHasChanged(); })"
                                                   id="gameName"
                                                   class="form-control"
                                                   @bind-Value="gameToAdd.GameName"
                                                   aria-describedby="gameNameHelp" required />

                                        <small id="gameName" class="@GetInputClass(gameToAdd?.GameName?.Length ?? 0, 2, 30)">@((gameToAdd?.GameName?.Length ?? 0).ToString())/30</small>
                                        <ValidationMessage For="@(() => gameToAdd.GameName)" style="color:Red;" />
                                    </div>


                                    <!-- Ending Message -->
                                    <div class="mb-3">
                                        <label for="endingMessage" class="form-label">הודעת הסיום</label>
                                        <span>(2-30 תווים)</span>
                                        <InputText maxlength="30"
                                                   @oninput="@(e => { HandleInputChange(e, nameof(gameToAdd.EndingMessage)); gameToAdd.EndingMessage = e.Value.ToString(); StateHasChanged(); })"
                                                   id="endingMessage"
                                                   class="form-control"
                                                   @bind-Value="gameToAdd.EndingMessage"
                                                   aria-describedby="endingMessageHelp" required />

                                        <small id="endingMessage" class="@GetInputClass(gameToAdd?.EndingMessage?.Length ?? 0, 2, 30)">@((gameToAdd?.EndingMessage?.Length ?? 0).ToString())/30</small>
                                        <ValidationMessage For="@(() => gameToAdd.EndingMessage)" style="color:Red;" />
                                    </div>

                                    
                                    <!-- Image upload input -->
                                    <div class="mb-3">
                                        <label for="gameImage" class="form-label">תמונת המשחק</label>
                                        <input type="file" class="form-control" id="gameImage" @bind="gameToAdd.GameImage" />
                                        @* <ValidationMessage For="@(() => gameToAdd.GameImage)" style="color:Red;" /> *@
                                    </div>
                                    
                                    <!-- Submit / Cancel Buttons -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">חזרה</button>
                                        <button type="submit" value="send" class="btn btn-primary" data-bs-target="#my-modal">שמירה</button> <!--data-bs-dismiss="modal"-->
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Publish Instructions -->
        <div class="col col-sm-4">
            <div class="alert alert-success" role="alert">
                <h6>
                    הוראות פרסום
                </h6>
                <ul>
                    <li>ראשון</li>
                    <li>שני</li>
                    <li>שלישי</li>
                </ul>
            </div>
        </div>        
    </div>

    <!--Main Games Table-->
    <div class="row">
        <h5>טבלת המשחקים</h5>
        
        <div class="col-10 table-responsive">
            <table class="table ">           
                <!--Table HEADER-->
                <thead class="table-light">
                    <tr>
                        <th scope="col">קוד
                            <Tooltip Text="באמצעות קוד זה, שחקנים ייכנסו למשחק"><i class="fa-solid fa-circle-info"></i></Tooltip>
                        </th>
                        <th scope="col">שם המשחק
                            <Tooltip Text="דוגמא בלבד - פה יהיה הסבר"><i class="fa-solid fa-circle-info"></i></Tooltip>
                        </th>
                        <th scope="col" class="col-auto text-center">עריכה
                            <Tooltip Text="דוגמא בלבד - פה יהיה הסבר"><i class="fa-solid fa-circle-info"></i></Tooltip>
                        </th>
                        <th scope="col" class="col-auto text-center">פרסום
                            <Tooltip Text="דוגמא בלבד - פה יהיה הסבר"><i class="fa-solid fa-circle-info"></i> </Tooltip>
                        </th>
                        <th scope="col" class="col-auto text-center">מחיקה
                            <Tooltip Text="דוגמא בלבד - פה יהיה הסבר"><i class="fa-solid fa-circle-info"></i></Tooltip>
                        </th>
                    </tr>
                </thead>

                <!--Table TBODY-->
                <tbody>
                    @if (GamesList != null && GamesList.Count > 0)
                    {
                        @foreach (var game in GamesList)
                        {
                            <tr>
                                <td><b>@game.GameCode</b></td>
                                <td>@game.GameName</td>
                                <td class="col-auto text-center"><i class="fa-solid fa-file-pen icon link-success" @onclick="()=>EditGame(game)"></i></td>
                                <td class="col-auto text-center">
                                    @if (game.CanPublish == false)
                                    {
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="@game.ID" value="" aria-label="..." disabled>
                                            <label for="@game.ID" />
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="@game.ID" checked="@game.IsPublished" @onchange="()=>changePublish(game)" />
                                            <label for="@game.ID"></label>
                                        </div>
                                    }
                                </td>
                                <td class="col-auto text-center">
                                    <i class="fa-solid fa-trash icon link-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" @onclick="() => PromptDelete(game)"></i>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center" style="font-weight:bold;">
                                בטבלה זו יופיעו כלל המשחקים, טרם הוזנו משחקים - לחצו על "משחק חדש"
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @if (msg != "")
    {
        <p>@msg</p>
    }

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="@(!isDeleteModalOpen)">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">מחיקת משחק</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    מחיקת המשחק תתבצע לצמיתות וללא יכולת שחזור, בטוחים?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ביטול</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @onclick="ConfirmDelete">מחיקה</button>
                </div>
            </div>
        </div>
    </div>



</div>
<script>
    function dismissModal(modalId) {
        const modal = document.getElementById(modalId);
        const modalInstance = bootstrap.Modal.getInstance(modal);
        modalInstance.hide();
    }
</script>

@code {
    [CascadingParameter]
    public int UserId { get; set; }

    [Parameter]
    public List<Games> GamesList { get; set; }

    [Parameter]
    public EventCallback<Games> OnDeleteClicked { get; set; }

    UserWithGames user;
    GameToAdd gameToAdd = new GameToAdd();

    bool isModalOpen = false;
    bool isDeleteModalOpen = false;
    bool shouldDismissModal = false;

    private Games gameToDelete;
    private int characterCount = 0;
    string msg = "";
    private bool submitSuccess = false;

    // On page load
    protected override async Task OnInitializedAsync()
    {
        var userRes = await Http.GetAsync("api/game/" + UserId);
        string error = userRes.Content.ReadAsStringAsync().Result;

        if (userRes.IsSuccessStatusCode == true)
        {
            user = userRes.Content.ReadFromJsonAsync<UserWithGames>().Result;
        }

        var gameRes = await Http.GetAsync("api/game/" + UserId + "/all");

        if (gameRes.IsSuccessStatusCode == true)
        {
            GamesList = gameRes.Content.ReadFromJsonAsync<List<Games>>().Result;
            if (GamesList != null)
            {
                Console.WriteLine("GameList is Full");
            }
            else
            {
                Console.WriteLine("GamesList is NULL");
            }
        }
        else
        {
            error = userRes.Content.ReadAsStringAsync().Result;
        }
        switch (error)
        {
            case "No Session":
                msg = "Session error, please reload page";
                break;
            case "User Not Logged In":
                msg = "You are not logged in, please reload page to try again";
                break;
            case "User Not Found":
                msg = "the user details not found, please reload page to try again";
                break;
        }
    }

    //New game creation
    async Task CreateGame()
    {
        // Sending the new game to the controller
        var userRes = await Http.PostAsJsonAsync("api/game/" + UserId + "/addGame/", gameToAdd);
        if (userRes.IsSuccessStatusCode)
        {

            // Retrieving the game and adding it to the list of games to update the table
            Games newGame = await userRes.Content.ReadFromJsonAsync<Games>();
            user.Games.Add(newGame);

            await JSRuntime.InvokeVoidAsync("dismissModal", "staticBackdrop");


            // Redirect to edit game page with the new game code created
            Nav.NavigateTo("./GameEdit/" + newGame.GameCode);
        }
        else
        {
            string error = await userRes.Content.ReadAsStringAsync();
            Console.WriteLine($"Error creating game: {error}");
            // Optionally handle the error in UI
        }
    }

    //edit game method to navigate to edit game page
    private void EditGame(Games game)
    {

        Nav.NavigateTo("./GameEdit/" + game.GameCode);
    }

    //edit publish status method to change IsPublished value on the server db
    protected async Task changePublish(Games game)
    {
    }

    void PromptDelete(Games game)
    {
        gameToDelete = game;
        isDeleteModalOpen = true;
    }

    void ToggleDeleteModal(bool open)
    {
        isDeleteModalOpen = open;
    }

    async Task ConfirmDelete()
    {
        if (gameToDelete != null)
        {
            await DeleteGame(gameToDelete);
            gameToDelete = null;
            isDeleteModalOpen = false; // This should hide the modal
        }
        StateHasChanged(); // Request Blazor to re-render the component
    }

    private async Task DeleteGame(Games game)
    {
        var response = await Http.DeleteAsync($"api/game/{UserId}/deleteGame/{game.GameCode}");

        if (response.IsSuccessStatusCode)
        {
            GamesList.Remove(game);
            isDeleteModalOpen = false; // Add this line to close the modal
            StateHasChanged(); // Add this line to update the UI
        }
        else
        {
            Console.WriteLine("Failed to delete the game");
        }
    }

    private string GetInputClass(int length, int minChars, int maxChars)
    {
        if (length == 0)
            return "text-muted"; // Neutral for zero characters
        else if (length < minChars)
            return "text-danger";  // Red for less than minimum characters
        else if (length >= minChars && length <= maxChars - 3)
            return "text-success";   // Green for within the normal range
        else if (length > maxChars - 3 && length <= maxChars)
            return "text-warning";  // Orange for nearing maximum length
        return "text-muted";  // Fallback, might not be necessary
    }

    private void HandleInputChange(ChangeEventArgs e, string inputType)
    {
        var newValue = e.Value.ToString();
        switch (inputType)
        {
            case "gameName":
                gameToAdd.GameName = newValue;
                break;
            case "endingMessage":
                gameToAdd.EndingMessage = newValue;
                break;
            default:
                break;
        }

    }

    private void UpdateCharacterCount(ChangeEventArgs e)
    {
        characterCount = e.Value.ToString().Length;
    }

    void failedSubmit()
    {
        Console.WriteLine("OOPS! There was a problem with creating a new game");
    }
}
